[submodule "Master-Theorem"]
	path = Master-Theorem
	url = https://github.com/claytonjwong/Master-Theorem.git
[submodule "The-ART-of-Dynamic-Programming"]
	path = The-ART-of-Dynamic-Programming
	url = https://github.com/claytonjwong/The-ART-of-Dynamic-Programming.git
[submodule "Algorithms-DNA-Sequencing"]
	path = Algorithms-DNA-Sequencing
	url = https://github.com/claytonjwong/Algorithms-DNA-Sequencing.git
[submodule "competitive-programming"]
	path = competitive-programming
	url = https://github.com/claytonjwong/competitive-programming.git
[submodule "Algorithms-Stanford"]
	path = Algorithms-Stanford
	url = https://github.com/claytonjwong/Algorithms-Stanford.git
[submodule "Algorithms-UCSanDiego"]
	path = Algorithms-UCSanDiego
	url = https://github.com/claytonjwong/Algorithms-UCSanDiego.git
[submodule "Towers-Of-Hanoi"]
	path = Towers-Of-Hanoi
	url = https://github.com/claytonjwong/Towers-Of-Hanoi.git
[submodule "leetcode-js"]
	path = leetcode-js
	url = https://github.com/claytonjwong/leetcode-js.git
[submodule "leetcode-py"]
	path = leetcode-py
	url = https://github.com/claytonjwong/leetcode-py.git
[submodule "advent-of-code"]
	path = advent-of-code
	url = https://github.com/claytonjwong/advent-of-code.git
[submodule "mini-habits"]
	path = mini-habits
	url = https://github.com/claytonjwong/mini-habits.git
[submodule "reading"]
	path = reading
	url = https://github.com/claytonjwong/reading.git
[submodule "leetcode"]
	path = leetcode
	url = https://github.com/claytonjwong/leetcode.git
[submodule "imperfectionist"]
	path = imperfectionist
	url = https://github.com/claytonjwong/imperfectionist.git
[submodule "rubiks-cube"]
	path = rubiks-cube
	url = https://github.com/claytonjwong/rubiks-cube.git
[submodule "leetcode-kt"]
	path = leetcode-kt
	url = https://github.com/claytonjwong/leetcode-kt.git
[submodule "learning"]
	path = learning
	url = https://github.com/claytonjwong/learning
[submodule "Algorithms-Illuminated"]
	path = Algorithms-Illuminated
	url = git@github.com:claytonjwong/Algorithms-Illuminated.git
[submodule "ACT"]
	path = ACT
	url = git@github.com:claytonjwong/ACT.git
